*{
    margin: 0;
}

nav {
    background-color: rgb(219, 116, 116);
    width: 100%;
    height: 3em;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

main>p {
    width: 400px;
}